url = "https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv"
1. read ths data into a dataframe format
2. print first five data
3. print last 2 data
4. give our columns name
5. select one column and print ist data type
6. print datatypes
7. check data if anydata is null
8. skip data

In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv"
df = pd.read_csv(url,sep=';')
type(df)

pandas.core.frame.DataFrame

In [8]:
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [9]:
df.tail(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [30]:
df1= pd.read_csv(url,sep=';',names=['AGE','JOB',"Marital", 'Education', 'Default', 'Housing', 'LOAN', 'CONTACT', 'MONTH','DAY_OFF'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,10,11,12,13,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
df1.columns

Index(['AGE', 'JOB', 'Marital', 'Education', 'Default', 'Housing', 'LOAN',
       'CONTACT', 'MONTH', 'DAY_OFF'],
      dtype='object')

In [17]:
(type(df1['AGE']))

<property object at 0x000001C16EC40720>

In [21]:
type(df1['AGE'])

pandas.core.series.Series

In [23]:
df1.isnull().sum()

AGE          0
JOB          0
Marital      0
Education    0
Default      0
Housing      0
LOAN         0
CONTACT      0
MONTH        0
DAY_OFF      0
dtype: int64

In [ ]:
df1= pd.read_csv(url,sep=';',skiprows=[0,1])

In [28]:
df1.columns

Index(['57;"services";"married";"high.school";"unknown";"no";"no";"telephone";"may";"mon";149;1;999;0;"nonexistent";1.1;93.994;-36.4;4.857;5191;"no"'], dtype='object')